@font-face {
    font-family: 'Nasu';
    src: url('./asset/font/Nasu-Bold.ttf') format('truetype');
}

/* 共通設定 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/hanapage.haikei.png");
    width: 100%;
    font-family: 'Nasu', sans-serif;
    background-repeat: round;
}

h1 {
    font-size: 40px;
    color: #1b0000;
    font-weight: 400px;
}

p {
    font-size: 15px;
    color: #1b0000;
    font-weight: 400;
}

h2 {
    font-size: px;
    color: #1b0000;
    font-weight: 400;
}

.single-item_h1 {
    text-align: left;
}


/*
h3{
    font-size: 100px;
    padding-right: 50px;
    margin-bottom: 16px;
    color: #07313A;
    font-weight: 400;
}
*/

/* ----------------------------- */

/* まず，h1とかでmarginとか設定すると混乱するのでやめよう！ */

/* position relative absoluteで位置指定してるならmarginとかpaddingやめよう！ */

/* 配置は天才的だと思う */

/* ---------fitst---------- */

.first {
    height: 120vh;
    position: relative;
    background-size: cover;
    z-index: 2;
    padding-left: 300px;
    margin-bottom: 30px;
}

/*.top_page {
    position: relative;
    z-index: 2;
    height: 100vh;
    padding-left: 300px;
    margin-bottom: 30px;
}*/

.single-item {
    position: absolute;
    width: 400px;
    z-index: 2;
    top: 100px;
    left: 200px;
}

.my {}

.my img {
    width: 7%;
    display: inline-block;
}

.my h2 {
    width: 100px;
    display: inline-block;
}


.first_title {
    position: absolute;
    top: 350px;
    left: 200px;
    z-index: 2;
}

.first_memo {
    position: absolute;
    z-index: 2;
    top: 600px;
    left: 200px;
}

.memo {
    font-size: 15px;
    margin-bottom: 16px;
    color: #1b0000;
    font-weight: 400px;
}

.first_img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.slider_container {
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    position: relative;
}

.slider_item {
    width: 100px;
    height: 100px;
    float: left;
}

.first_2_img {
    position: absolute;
    top: -400px;
    left: -400px;
    z-index: 1;
}

/* ---------second---------- */

.second {
    position: relative;
    height: 110vh;
}

.second_title {
    position: absolute;
    writing-mode: vertical-rl;
    top: 100px;
    right: 200px;
    padding-left: 300px;
    margin-bottom: 30px;
}

.second_photo {
    position: absolute;
    left: 100px;
}

/* ---------third---------- */

.third {
    height: 80vh;
}

.third_title {
    margin-left: 200px;
}

.icon-container {
    display: flex;
    justify-content: center;
}

.icon {
    margin: 100px;

}

/* ---------fourth---------- */
.fourth {}

.fourth_title {
    text-align: center;
}

.fourth_memo {
    margin: 100px;
}

/* ---------fourth2--------- */

.fourth2 {}

.sub_fourth_title {
    text-align: center;
}

.eizou-container {
    display: flex;
    justify-content: center;
}

.eizou1 {
    margin: 100px;
}

.eizou2-container {
    display: flex;
    justify-content: center;
}

.eizou2 {
    margin: 100px;
}

/*
.third {
    position: relative;
    height: 110vh;
    background-size: cover;
}

.third_title {
    margin-top: 250px;
    margin-left: -50px;
    padding-left: 300px;
    margin-bottom: 30px;
}

.icon1 {
    position: absolute;
    margin-top: 80px;
    margin-left: 200px;
}

.icon2 {
    position: absolute;
    margin-top: 80px;
    margin-left: 630px;
}

.icon3 {
    position: absolute;
    margin-top: 80px;
    margin-left: 1060px;
}

.fourth {
    position: relative;
    height: 110vh;
    background-size: cover;
}

.fourth_title {
    text-align: center;
}

.eizou1 {
    position: absolute;
    margin-top: ;
    margin-left: ;
}

.eizou3 {
    position: absolute;
    margin-top: ;
    margin-left: ;
}

.eizou3 {
    position: absolute;
    margin-top: ;
    margin-left: ;
}
*/

/* ---------fifth---------- */

.fifth {
    height: 100vh;
}

.fifth_title {
    writing-mode: vertical-rl;
    margin-top: 100px;
    margin-left: 200px;
}

.fifth_memo {
    margin: 100px;
    margin-left: 150px;
}

.phone {
    display: flex;
    justify-content: center;
    margin-top: -400px;
    margin-left: 500px;
}

.timer {
    width: 400px;
    margin-left: 50px;
    margin-top: 20px;
}

.web{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-left: 500px;
}

.nanairo {
    width: 400px;
    margin-left: 50px;
    margin-top: 20px;
}

.class {
    height: 150vh;
}

/* --------sixth---------- */

.sixth_title {
    text-align: right;
    margin-right: 200px;
    margin-top: 100px;
}

.sixth_img {
    margin: 100px;
    margin-left: 150px;
}

.sixth_img2 {
    margin: 100px;
    margin-left: 650px;
}

.sixth_img3 {
    margin: 100px;
    margin-left: 150px;
    margin-bottom: 250px;
}
/* animation */

/* 下の二つは例 */

.first-animation-img {
    /* いったん非表示 */
    opacity: 0;
    /* 透明度 */
    /* visibility: hidden; */
    transform: translateY(40px);
    transition: all 2s;
}

.first-animation-h1 {
    /* いったん非表示 */
    opacity: 0;
    /* 透明度 */
    /* visibility: hidden; */
    transform: translateY(40px);
    transition: all 2.7s;
}

.scroll-animation {
    /* いったん非表示 */
    opacity: 0;
    /* 透明度 */
    /* visibility: hidden; */
    transform: translateY(40px);
    transition: all 1s;
}

.first-animation-memo {
    /* いったん非表示 */
    opacity: 0;
    /* 透明度 */
    /* visibility: hidden; */
    transform: translateY(40px);
    transition: all 2.7s;
}

.asset1 {
    transform-origin: center;
    transform: rotate(-20deg);
    position: absolute;
    top: 300px;
    left: 100px;
}

.asset2 {
    transform-origin: center;
    transform: rotate(20deg);
    position: absolute;
    top: 370px;
    left: 160px;
}

.asset3 {
    transform-origin: center;
    transform: rotate(-20deg);
    position: absolute;
    top: 430px;
    left: 110px;
}

.asset4 {
    position: absolute;
    top: 430px;
    right: 150px;
}

.asset5 {
    transform-origin: center;
    transform: rotate(30deg);
    position: absolute;
    top: 0;
    right: 0;
}

.asset6 {
    transform-origin: center;
    transform: rotate(10deg);
    position: absolute;
    top: 300px;
    right: 300px;
}

.asset7 {
    position: absolute;
    top: 330px;
    left: 370px;
}

.asset8 {
    transform-origin: center;
    transform: rotate(20deg);
    position: absolute;
    top: 430px;
    left: 450px;
}